@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

.header-text-container {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
}

.header-text {
  font-size: 30px;
  color: white;
  display: inline-block;
  background-color: black;
  padding-right: 3px;
  margin-left: 10px;
}

.body {
  /* height: 600px; */
  position: relative;
  z-index: -0.5;
  font-family: "M PLUS Rounded 1c";
  color: white;
  text-align: center;
  flex-direction: column;
}

.body-middle-top {
  min-height: 100vh;
  color: #ff69b4;
  background-color: white;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-bottom: 50px;
}

.Blog {
  text-align: left;
  color: black;
  z-index: 1;
  border-width: 2;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.input-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.name {
  width: 100%;
  height: 10%;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  justify-content: flex-start;
}

.user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  justify-content: flex-start;
}

textarea {
  overflow: auto; /* テキストがオーバーフローした場合にスクロールバーを表示 */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 93.2%;
}

input[type="text"]:focus {
  border-color: #007bff;
}

.message-input {
  padding-bottom: 100px;
  width: 100%;
}

.submit-button {
  background-color: #ff69b4;
  color: white;
  padding: 7px;
  font-size: 20px;
  border-radius: 30px;
  width: 80%;
}

.Chat-space {
  min-height: 100vh;
  color: #ff69b4;
  background-color: white;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-bottom: 50px;
  border: 1px solid black;
  padding-top: 20px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
